.App {
    font-family: sans-serif;

    background: url('/images/homepage_bg.jpeg') center/cover no-repeat;
    background-color: darken(SpringGreen, 10%);
    background-blend-mode: darken;
    color: #fefefe;
}