@mixin padding-x {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 768px) {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.Drone {
    @include padding-x;

    // min-height: calc(100vh - 56px);
    padding-top: 20px;
    padding-bottom: 20px;

    &__List {
        &__Title {
            font-size: larger;
            font-weight: bold;
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #efefef;
            border-radius: 5px;
            margin: 20px 0;
        }

        &__Items {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;

            &__Item {
                min-width: 30%;
                max-width: 31%;
                margin: 10px 0;

                @media (max-width: 600px) {
                    min-width: 75%;
                    max-width: 80%;
                    margin: 10px auto;
                }
            }
        }
    }
}