.Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1000;
}

.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 22vh;
    background: #fff;
    color: #777;
    border-radius: 5px;
    padding: 10px 20px;

    @media (max-width: 768px) {
        width: 80%;
    }

    &__Header {
        text-align: center;
        color: mediumseagreen;
        font-size: 26px;
        font-weight: bold;
        padding: 5px 0 10px;
        border-bottom: #efefef;
        border-bottom: 1px solid #efefef;
    }
    &__Body {
        padding: 20px 0;
        border-bottom: 1px solid #efefef;

        &__Input {
            font-size: 18px;
            padding: 5px 15px;
            width: 80%;
            max-height: 20px;
            
            &:focus {
                outline: none;
            }
        }
    }

    &__Footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;

        & > * {
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            color: #fff;

            &:hover {
                cursor: pointer;
            }
        }

        &__Login {
            background: crimson;
        }

        &__Cancel {
            background: goldenrod;

        }
    }
}