.Login {
    padding: 20px 40px;
    margin-right: 10vw;
    border-radius: 10px;
    opacity: .9;
    width: 20vw;
    text-align: center;
    background: rgba(0,0,0,.2);

    &__Title {
        font-size: 30px;
        color: darken(#02CC66, 10%);
        margin: 10px auto 20px;
        text-transform: capitalize;
    }


    &__Form {
        width: 100%;
        &__Field {
            width: 100%;
            &__Control {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: space-around;

                &__Label {
                    margin-bottom: 15px;
                    font-size: 26px;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }
                &__Input {
                    margin-bottom: 15px;
                    font-size: 24px;
                    padding: 10px 20px;
                    // width: 100%;
                    border-radius: 5px;
                    border: 1px solid #efefef;
                    background: transparent;

                    color: #efefef;

                    &::placeholder {
                        color: #efefef;
                        // font-weight: lighter;
                    }

                    @media (max-width: 768px) {
                        font-size: 18px;
                        padding: 3px 6px;
                    }
                }

                &__Submit {
                    align-self: center;

                    padding: 10px;
                    background: #fefefe;
                    color: darken(#02CC66, 10%);
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    opacity: 1;
                    width: 40%;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background: darken(#02CC66, 10%);
                        color: #fefefe;
                        cursor: pointer;
                    }

                    &:focus {
                        outline: none;
                    }
                }

            }
        }
    }
}